# Common Ignore
.venv
__pycache__
.ipynb_checkpoints

# Project ignore
data
models
cache

# un-ignore this file
!.keeps

# Akraradet Personal Use Docker
/docker-compose.yml
/Dockerfile

# Chanapa ignore
get_dataset_tutorial.ipynb
submitted_log/
*.sh
*.err
*.out

!projects/main-ml-run.sh