# Common Ignore
.venv
__pycache__
.ipynb_checkpoints

# Project ignore
data
models
cache

# un-ignore this file
!.keeps

# Akraradet Personal Use Docker
/docker-compose.yml
/.Dockerfile

# Chanapa ignore
get_dataset_tutorial.ipynb
submitted_log/
*.sh
*.err
*.out

# main-ml ignore
!projects/main-ml*.sh
running.log
gridSearch*
