[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
mne = "*"
psutil = "*"
sklearn = "*"
pandas = "*"
mne-features = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
